/* ── Rofi Config ──────────────────────────────
   Location: ~/.config/rofi/config.rasi
   Description: Basic configuration + theme import
   ─────────────────────────────────────────── */

configuration {
    modi: "drun,run";                    // Available modes
    show-icons: true;                    // Show app icons
    font: "UbuntuMono Nerd Font 16";  // Global font
}

/* Import active theme */
@theme "~/.config/rofi/theme.rasi"

